<link rel="stylesheet" href="/css/bootstrap.css"/> <!-- load bootstrap css -->
<!-- <link rel="stylesheet" href="/css/foundation.css"/> load foundatio css -->
<link rel="stylesheet" href="/css/style1.css"/>
</head>
<body>
<div class="container">
<div class="header clearfix">
  <h2 class="text-muted"><strong>Swahilibox Consultancy</strong></h2>
</div>

      <% if (success_msg.length > 0) { %>
        <div class="alert alert-success"><%= success_msg %></div>
      <% } %>
      <% if (error_msg.length > 0) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>
      <% if (error.length > 0) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
<h2 class="page-header">Log in</h2>
<div class="row">
  <div class="col-lg-10 ">
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control round" placeholder="username" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
    <button type="submit" class="btn btn-default btn-success btn-round">Submit</button>
    </br></br></br>
        <p>Dont have an account? <a href="/users/register">Register</a></p>
 </form>
</div>
</div>
</div>
